.DS_Store/*
.DS_Store
.DS_STORE
*.code-workspace

*.cpython*

# images
*.jpg
Cat_Dog_data.zip
*-ubyte
*-ubyte.gz

# data
data/*
cifar-10-batches-py
cifar-10-python.tar.gz
*.pt
model_cifar.pt

# VSCODE files
.vscode
.vscode/
settings.json