.DS_STORE/*
.DS_STORE

data
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# checkpoint
checkpoint